<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title>
            logout
        </title>
    </head>
    <body>
        <form action="/logout" method="post">
            <button type="submit" class="but">Logout</button>
        </form>
    </body>
</html>