body{
    font-family: "Times New Roman", Times, serif;
    color: gray;
}
#main_div{
    margin-top: 5%;
    margin-left: 14.5%;
    background-color: rgb(3, 19, 34);
    height: 80vh  ;
    width: 70% ;
    box-shadow: 2px 2px 10px 10px;
}
#login{
    float: left;
    width : 67%;
    height : 100% ;
    background-color: whitesmoke;
    text-align: center;
    color: gray;
}
#signup{
    float: right;
    width : 33%;
    height : 100% ;
    background-color:rgb(84, 184, 197);
    text-align: center;
    color: aliceblue;
}
.but{
    height: 30px;
    width: 100px;
    font-size: large;
    border-radius: 20px;
    color:aliceblue;
}
.feild{
    width: 250px;
    height: 30px;
}